.pop-in {
    animation: pop 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes pop {
    0% {
        transform: scale(0) translateY(50%);
        opacity: 0;
    }

    70% {
        transform: scale(1.1) translateY(50%);
    }

    100% {
        transform: scale(1) translateY(50%);
        opacity: 1;
    }
}

.glide-up {
    animation: glideUp 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes glideUp {
    from {
        bottom: 50%;
        transform: translateY(50%);
    }

    to {
        bottom: auto;
        position: relative;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cell-polygon {
    z-index: 1;
}

.cell-polygon.interactive {
    cursor: pointer;
    transition: transform 0.15s ease-in;
    transform-box: fill-box;
}

/* 
.cell-polygon.interactive:hover {
    transform: scale(1.2);
    transform-origin: center;
} */

/* .cell-polygon.interactive:active {
    transform: scale(0.8);
    transform-origin: center;
    z-index: 10;
} */

.cell-polygon.selected {
    transform: scale(0.8);
    transform-origin: center;
    transform-box: fill-box;
    z-index: 10;
}